### Hierarchical indexing:
Enable us to have multiples indexing

In [37]:
import pandas as pd 
import numpy as np

In [8]:
%%time
data=pd.Series([10, 20, 30, 40, 15, 25, 35, 25],index=[['a', 'a',
... 'a', 'a', 'b', 'b', 'b', 'b'], ['obj1', 'obj2', 'obj3', 'obj4', 'obj1',
... 'obj2', 'obj3', 'obj4']])

CPU times: user 2.3 ms, sys: 0 ns, total: 2.3 ms
Wall time: 2.2 ms

In [3]:
data

a  obj1    10
   obj2    20
   obj3    30
   obj4    40
b  obj1    15
   obj2    25
   obj3    35
   obj4    25
dtype: int64

Two level of Indexing can be seen by command index

In [9]:
data.index

MultiIndex(levels=[['a', 'b'], ['obj1', 'obj2', 'obj3', 'obj4']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3]])

#### Partial indexing:
Choosing a prticular index from a hierarchical indexing is known as partial indexing

In [10]:
data['b'] ## here we have extracted index b

obj1    15
obj2    25
obj3    35
obj4    25
dtype: int64

In [15]:
data['a']

obj1    10
obj2    20
obj3    30
obj4    40
dtype: int64

Further data can be extracted based on inner level

In [18]:
data[:,'obj2']

a    20
b    25
dtype: int64

    Unstack the data: Unstack changes the row header to column header.Since the row index is changed to column index, therefore the Series will become the DataFrame in this case

In [19]:
data # unstack based on first level i.e. a, b and data rows lables are a and 'b'

a  obj1    10
   obj2    20
   obj3    30
   obj4    40
b  obj1    15
   obj2    25
   obj3    35
   obj4    25
dtype: int64

In [20]:
data.unstack(0) # unstack based on first level

       a   b
obj1  10  15
obj2  20  25
obj3  30  35
obj4  40  25

In [21]:
data.unstack(1)

   obj1  obj2  obj3  obj4
a    10    20    30    40
b    15    25    35    25

In [24]:
type(data.unstack(1))

pandas.core.frame.DataFrame

In [25]:
type(data)

pandas.core.series.Series

In [29]:
d=data.unstack() # By default inner most level is used for unstak
d

   obj1  obj2  obj3  obj4
a    10    20    30    40
b    15    25    35    25

In [30]:
type(d)

pandas.core.frame.DataFrame

#### ‘stack()’ : 
operation converts the column index to row index again.

In [34]:
d1=d.stack()
d1

a  obj1    10
   obj2    20
   obj3    30
   obj4    40
b  obj1    15
   obj2    25
   obj3    35
   obj4    25
dtype: int64

In [35]:
type(d1)

pandas.core.series.Series

##### Column indexing: :
Column Indexing is possible in to Data frame Only: Because Column Indexing require 2-D data

In [40]:
df=pd.DataFrame(np.arange(12).reshape(4,3)),
index = [['a', 'a', 'b', 'b'], ['one', 'two', 'three', 'four']],
column= [['num1', 'num2', 'num3'], ['red', 'green', 'red']]
df

(   0   1   2
 0  0   1   2
 1  3   4   5
 2  6   7   8
 3  9  10  11,)

#### READ FILE

In [ ]:
df = pd.read_table('ex1.csv', sep=',') #ReadTable